*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header{
    max-width: 1440px;
    min-width: 1024px;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

.content-header .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.content-header .logo a{
    font-size: 30px;
    color: #5E555A;
    text-decoration: none;
}

.content-header .logo a span{
    color: #6592c9;
}

nav .menu {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .menu li {
    width: 120px;
    text-align: center;
}

nav .menu li:hover{
    padding: 8px;
    border: 2px solid #6592c9;
}

nav .menu li a {
    text-transform: uppercase;
    color: #5E555A;
    font-size: 18px;
    text-decoration: none;
}

nav .menu li a:hover {
    color: #6592c9;
}

.banner-header {
    width: 100%;
    height: 28vh;
    overflow-y: hidden;
}

.banner-header img{
    width: 100%;
    transform: translateY(-30px); /* imagem deslocada 30px da posição original */
    object-fit: cover;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 60px;
}

.room {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}

.title h2 {
    color: #5E555A;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.title p {
    color: #3d3d3d;
    font-size: 16px;
}

.room-img {
    width: 80%;
    display: flex;
    column-gap: 10px;
}

.room-img img {
    width: 350px;
    flex-grow: 1;
}

.info-room{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
}

.info-room h3 {
    font-size: 18px;
    font-weight: 700;
    color: #5E555A;
}

.info-room .list-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 30px;
    list-style: none;
}

.list-info li {
    color: #5E555A;
    width: 200px;
    text-align: left;
}

footer {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #49997d;
  }

  .limit-footer{
    max-width: 1024px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .limit-footer .contato{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
  }

  .contato h2 {
    font-size: 22px;
  }

  .contato a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .contato a img {
    width: 40px;
    height: 40px;
  }

  .contato a p {
    margin-left: 10px;
  }

  .copyright {
    width: 73%;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #3b7863;
  }

