*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

section {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:385px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    section{
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
